FORMAT: 1A
HOST: http://webgis.nature.cz/aopkrest/eman/

# AOPK ČR - Management API 

## EMAN - detail uživatele [/users/{user_id}]
- informace o uživateli

+ Parameters
    + user_id: 1 (number) - id uživatele 

### Přehled dotazů [GET]

+ Response 200 (application/json)

            {
                "user_id":1,
                "name":"Jm\u00e9no1",
                "surname":"P\u0159\u00edjmen\u00ed1",
                "title_before":"",
                "title_after":"",
                "email":"jmeno1.prijmeni1@nature.cz",
                "activity":1,
                "internal":1,
                "role_ids":"1,2,3"
            }

## EMAN - Výpis rolí [/users/{user_id}/roles/]
- výpis rolí daného uživatele
- admin
- superedit - přidává/edituje smlouvy za projekty přidělené jeho RP
- edit - přidavá/edituje opatření za smlouvy pro své RP
- auditor - všechno vidí, nemůže editovat nic
- read - vidí pouze své RP, nemůže editovat nic

+ Parameters
    + user_id: 1 (number) - id uživatele

### Přehled rolí [GET]

+ Response 200 (application/json)

    + Attributes (array[Role])
    + Attributes (array[Role])


## Seznam činností [/activities/]
- vrátí  seznam všech činností - z intranetu - slouží jako číselník
- bude vracet celý číselník


## EMAN - Seznam projektů [/projects/]
- výpis všech projektů

### Výpis projektů [GET]

+ Response 200 (application/json)

    + Attributes (array[Project])
    + Attributes (array[Project])

## EMAN - Detail projektu [/projects/{proj_id}]

+ Parameters
    + proj_id: 101114 (number) - id projektu 

### Smazání projektu [DELETE]

+ Request 200 (application/json)

        {
            + proj_id: 101114 (number) - id projektu (primární klíč z databáze)
        }

+ Response 201 (application/json)

            {
                + result_id: 0 (number) - výsledek operace 
            }

## EMAN - Projekt Administrovaný [/projects/administer/]
- pro přidání nového projektu

### Přidat nový projekt  [POST]

+ Request 200 (application/json)

    + Attributes (array[Project])

+ Response 201 (application/json)

            {
                + result_id: 0 (number) - výsledek operace
            }

## EMAN - Projekt Administrovaný [/projects/administer/{proj_id}]

+ Parameters
    + proj_id: 101114 (number) - id projektu (primární klíč z databáze)

### Změna projektu  [PATCH]

+ Request 200 (application/json)

    + Attributes (array[Project])

+ Response 201 (application/json)

        {
            + result_id: 0 (number) - výsledek operace
        }

## EMAN - Projekt z Ekis [/projects/ekis/{ekis_id}]
- Přídání a úprava ekis projektu - respektive - interní a kombinovaný projekt
- přidání nového projektu z EKIS - tedy umožňuje přidat pouze projekty které již jsou zadané v aplikaci ekisu
- přidat regionální pracoviště(včetně ústředí), pro daný projekt - tato reg pracoviště budou moci přidávat oblasti a smlouvy
- ekisid - pokud je vyplněné ekisid - tak si api šáhne do view z EKIS s informacema o projektu
- projectType - (1,2,3) interní, kombinovaný, aministrovaný
- Kontrola - může být pouze projectType 1,2

+ Parameters
    + ekis_id: 101114 (number) - id projektu z EKIS - jedná se o id z EKIS DB

### Přidat projekt [POST]
- přidá nový projekt z DB EKIS
+ Request 200 (application/json)

        {
            + ekis_id: 101478 (number) - kód ekis - zbylé
            + reg_id: 1, 14, 16 (array [number]) - id regionálních pracovišť
            + type: 0  (number) - typ projektu  0/interní - pouze ekis - není možné editovat, 2/kombinovaný - data z ekis i možné přidávání vlastních smluv a oblastí
        }
        
+ Response 201 (application/json)

        {
            + result_id: 0 (number) - výsledek operace
        }

### Upravit projekt [PATCH]
- úpravy regionálních pracovišť a hlavně možnost nastavit zdali sychronizovat data o projektu a smlouvách z ekis

+ Request 200 (application/json)

        {
            + reg_id: 1, 14, 16 (array [number]) - id regionálních pracovišť
            + ekis_synch: 0 (number) - nastavení zdali se je synchronizace aktivní či nikoliv
            + type: 0  (number) - typ projektu  0/interní - pouze ekis, 2/kombinovaný - ekis i manuál
        }
        
+ Response 201 (application/json)

        {
            + result_id: 0 (number) - výsledek operace
        }


## EMAN - Seznam managementových položek  [/projects/{proj_id}/ManItems/]
- seznam managementových položek (smluv, oblastí)

### výpis položek 

+ Request 200 (application/json)

        {
            + reg_id: 1, 14, 16 (array [number]) - id regionálních pracovišť
        }

+ Response 201 (application/json)

        {
            + result_id: 0 (number) - výsledek operace
        }

## EMAN - Detail informací o managemantové položce  [/projects/{proj_id}/ManItems/{item_id}]
- výpis detatailních infomrací o managamentové položce

### Vymazat managementovou položku [DELETE]
- proběhne kontrola: Nesmí být položka, která imporovaná z EKIS, a nesmí mít přidané žádná opatření

+ Response 201 (application/json)

        {
            + result_id: 0 (number) - výsledek uložení nového projektu - 0- v pořádku, 1-neuloženo - kód projektu již existuje
        }

## EMAN - Seznam opatření pro managemetovou položku  [/projects/{proj_id}/items/{item_id}/measures]
- výpis přehledu opatření pro danou managementovou položku




### přidání nového opatření [POST]
- přidání nového opatření

## EMAN - detail informací o opatření  [/projects/{proj_id}/items/{item_id}/measures/measure_id]
- seznam opatření pro konkrétní managementovou položku

### úprava nového opatření [PATCH]
- seznam opatření pro konkrétní smlouvu

### Smazání vybraného opatření [DELETE]
- pozor pokud je na to přivázaný zákres/y upozornění

## EMAN - seznam smluv na projektu  [/projects/{proj_id}/contracts/]

### Přidat novou smlouvu [POST]
- přidá novou smlouvu k projektu - může přidat smlouvu pouze projekty administrované a kombinované

+ Request 200 (application/json)

        {
            + ekis_id: 101478 (number) - kód ekis - zbylé
            + reg_id: 1, 14, 16 (array [number]) - id regionálních pracovišť
        }

## EMAN - seznam smluv na projektu  [/projects/{proj_id}/contracts/{contract_id}]

### Upravit existující smlouvu [PATCH]
- může být upraveno pouze u smluv přidaných manuálně - je zakázáno, upravovat smlouvy získané. 

+ Request 200 (application/json)

        {
            + reg_id: 1, 14, 16 (array [number]) - id regionálních pracovišť
        }

## EMAN - seznam oblastí na projektu  [/projects/{proj_id}/areas/]

### Přidat novou smlouvu [POST]
- přidá novou smlouvu k projektu - může přidat smlouvu pouze projekty administrované a kombinované

+ Request 200 (application/json)

        {
            + ekis_id: 101478 (number) - kód ekis - zbylé
            + reg_id: 1, 14, 16 (array [number]) - id regionálních pracovišť
        }

## EMAN - detail oblasti na projektu  [/projects/{proj_id}/contracts/{contract_id}]

### Seznam smluv [GET]

+ Parameters
    + proj_id: 101114 (number) - id projektu (primární klíč z databáze)

### Upravit existující oblast [PATCH]
- může být upraveno pouze u smluv přidaných manuálně - je zakázáno, upravovat smlouvy získané. 

+ Request 200 (application/json)

        {
            + reg_id: 1, 14, 16 (array [number]) - id regionálních pracovišť
        }

# Data Structures

## Project (object)

### Properties
+ name: Můj projekt 1 (string) - název projektu
+ id: 178788 (number) - vniřní id projektu
+ code: OKB470058 (string) - kod projektu - zadává se ručně a nebo se získává z EKIS
+ date_from: 27-07-2019 (date, optional) - platnost projektu od, může být prázdné
+ date_to: 27-11-2021  (date, optional) - platnost projektu do, může být prázdné
+ type: 0  (number) - typ projektu  0/interní - pouze ekis, 1/administrovaný - pouze manuální zadání, 2/kombinovaný - je v ekisu, ale je možné také přidávat smlouvy/oblasti manuálně
+ reg_id: 1, 14, 16 (array [number]) - pole id regionálních pracovišť, která mohou smlouvy a činnosti projektu editovat
+ ekis_id: 0 (number, optional)  - id z db EKIS - pouze pokud je projekt z EKIS
+ ekis_synch: 1 (number, optional) - synchronizace dat z EKIS 0 - neaktivní, 1-aktivní


## ManItem (object)
"managementová" položka - kombinace smlouvy a oblasti

### Properties

+ code: PPK-39f/82/19 (string) - pokus
+ proj_id: 15457 (number)
+ type: C (string) - typ smlouva/C oblast/A
+ ekis_import:0 (number) - importováno z Ekisu
+ subject: (string) - typ smlouva/C oblast/A
+ price: 14578 (number) - cena ve smlouvě
+ contractor: Jirka Petřík (string) - zpracovatel
+ reg_id: 1, 14, 16 (array [number]) - id regionálních pracovišť přidělených ke smlouvě

## Measures
Opatření

### Properities

## Contract (object)

## ManArea (object)

## ContractEDIT (object)

## Activity

### Properties

+ proj_id: 147 (number) - test
+ code: 15457 OKB470058 - test
+ subject: testování (string) - testování
+ contractor: testování (string) - pokus
+ price: 467.30 (number)

## ActivityEdit (object)

činnosti pro vkládání a úpravu

### Properties
+ contract_id: 1577 (number) -  id smlouvy
+ activity_id: 144 (number) - id činnosti
+ activity_cat_id: 18 (number) - kategori činnosti
+ year: 2018 (number) - rok
+ price: 57878.487 (number) - cena
+ amount: 15787,17 (number) - množství
+ note: Odvozit klestí (string) - poznámka


## Role (object)
Uživatelské role
admin - administruje projekty
superedit - přidává/edituje smlouvy za projekty přidělené jeho RP
edit - přidavá/edituje opatření za smlouvy pro své RP
auditor - všechno vidí, nemůže editovat nic
read - vidí pouze své RP, nemůže editovat nic

### Properties
+ role_id: 1 (string) - id role
+ role_name: Admin (string) - název role