FORMAT: 1A
HOST: http://webgis.nature.cz/aopkrest/eman/

# AOPK ČR - Management API 

## EMAN - detail uživatele [/users/{user_id}]
- informace o uživateli

+ Parameters
    + user_id: 1 (number) - id uživatele 

### Přehled dotazů [GET]

+ Response 200 (application/json)

            {
                "user_id":1,
                "name":"Jm\u00e9no1",
                "surname":"P\u0159\u00edjmen\u00ed1",
                "title_before":"",
                "title_after":"",
                "email":"jmeno1.prijmeni1@nature.cz",
                "activity":1,
                "internal":1,
                "role_ids":"1,2,3"
            }

## EMAN - Výpis rolí [/users/{user_id}/roles/]
- výpis rolí daného uživatele
- admin
- superedit - přidává/edituje smlouvy za projekty přidělené jeho RP
- edit - přidavá/edituje opatření za smlouvy pro své RP
- auditor - všechno vidí, nemůže editovat nic
- read - vidí pouze své RP, nemůže editovat nic

+ Parameters
    + user_id: 1 (number) - id uživatele

### Přehled rolí

+ Response 200 (application/json)


## Seznam činností [/activities/]
- vrátí  seznam všech činností - z intranetu - slouží jako číselník
- bude vracet celý číselník


## EMAN - Seznam projektů [/projects/]
- výpis projektů

### Výpis projektů [GET]

+ Response 200 (application/json)
    + Attributes (array[Project])


### Přidat projekt [POST]

+ Request 200 (application/json)
        {
            + ekis_id: 101478 (number) - kód ekis - zbylé
            + reg_id: 1, 14, 16 (array [number]) - id regionálních pracovišť
        }
    

### Upravit projekt[PATCH]
+ Request 200 (application/json)

        {
            + reg_id: 1, 14, 16 (array [number]) - id regionálních pracovišť
        }

## EMAN - Seznam projektů - Ekis [/projects?ekisid={ekis_id}]
- pouze admin
- přidání nového projektu z EKIS - tedy umožňuje přidat pouze projekty které již jsou zadané v ekisu
- přidat regionální pracoviště(včetně ústředí), pro daný projekt - tato reg pracoviště budou moci přidávat oblasti a smlouvy
- ekisid - pokud je vyplněné ekisid - tak si api šáhne do view z EKIS s informacema o projektu
- projectType - (1,2,3) interní, kombinovaný, aministrovaný
- Kontrola - může být pouze projectType 1,2

+ Parameters
    + ekis_id: 101114 (number, optional) - id por


### Přidat projekt z EKIS [POST]
- přidá nový ekis projekt - na pozadí zavola
+ Request 200 (application/json)
{
    + ekis_id: 101478 (number) - kód ekis - zbylé
    + reg_id: 1, 14, 16 (array [number]) - id regionálních pracovišť
}
    

### Upravit projekt z EKIS [PATCH]
+ Request 200 (application/json)

        {
            + reg_id: 1, 14, 16 (array [number]) - id regionálních pracovišť
        }

+ Response 201 (application/json)

    + result_id: 0 (number) - výsledek uložení nového projektu - 0- v pořádku, 1-neuloženo - kód projektu již existuje


## EMAN - Seznam položek  [/projekty/{proj_id}/items/]
- seznam položek, 



## Activity

## Seznam projektů [/projects/]
- seznam všech projektů 
- parametry - filtr

+ Parameters
    + app_id: 101 (number) - kód aplikace 
    + user_id: 1 (number) - id uživatele 
    
    

### Výpis projektů [GET]

+ Response 200 (application/json)

    + Attributes (array[ActivityGET])
    + Attributes (array[ActivityGET])

# Data Structures

### Properties

## Role (object)
Uživatelské role
### Properties
+ role_id: 1 (string) - id role
+ role_name: Mapovatel (string) - název role
+ role_code: M (string) - kód role - pro zkrácení a tlačítka 

## Project (object)

### Properties
+ name: Můj projekt 1 (string) - název projektu 
+ code: OKB470058 (string) - kod projektu
+ date_from: 27-07-2019 (date, optional) - platnost projektu od, může být prázdné
+ date_to: 27-11-2021  (date, optional) - platnost projektu do, může být prázdné
+ type: 0  (number) - typ projektu  0/interní, 1/administrovaný, 2/kombinovaný
+ ekis_id: 0 (number)  - 0/neaktivní 1/Aktivní 2/není, zdali má projekt propojení z EKIS
+ reg_id: 1, 14, 16 (array [number]) - id regionálních pracovišť

## ManItem (object)
"managementová" položka - kombinace smlouvy a oblasti - slouží pro zobrazování

### Properties

+ code: PPK-39f/82/19 (string) - pokus
+ project_id: 15457 (number)
+ type: C (string) - typ smlouva/C oblast/A
+ subject: (string) - typ smlouva/C oblast/A
+ price: 14578 (number) - cena ve smlouvě
+ contractor: Jirka Petřík (string) - zpracovatel
+ Project_name: 

## Contract (object)

## ManArea (object)


## ContractEDIT (object)

## Activity



### Properties

+ idproject: 147 (number) - test
+ code: 15457 OKB470058 - test
+ subject: testování (string) - testování
+ contractor: testování (string) - pokus
+ price: 467.30 (number)

## ActivityEdit (object)

činnosti pro vkládání a úpravu

### Properties
+ contract_id: 1577 (number) -  id smlouvy
+ activity_id: 144 (number) - id činnosti
+ activity_cat_id: 18 (number) - kategori činnosti
+ year: 2018 (number) - rok
+ price: 57878.487 (number) - cena
+ amount: 15787,17 (number) - množství
+ note: Odvozit klestí (string) - poznámka

## ContractCIS

### Properties
+ name
+ contract_id
+ Kosení těžkou mechanizací